{{extend 'layout.html'}}

<link rel="stylesheet" href="{{=URL('static','css/chartist.min.css')}}">

<style>

.ct-series-a .ct-line,
.ct-series-a .ct-point {
  stroke: blue;
}

</style>

<body>
<h1>Esta es la tabla de valores</h1>
  {{=rejilla}}

    <h4>Esta es la primera gráfica:</h4>
    <div class="ct-chart ct-perfect-fourth"></div>







<script src="{{=URL('static','js/chartist.min.js')}}"></script>

<script>

const url= "datos_potenciometro.json"
var options = {
    width: 1000,
    height: 500
    };


fetch(url).
  then(function(datos_en_bruto) {
      datos_en_bruto.json()
        .then (function(datos){
              

              const fechas = datos.datos.map(function(dato){ return dato.Fecha    })
              const valores = datos.datos.map(function(dato){ return dato.valor    })


                    var data = {
                // A labels array that can contain any sort of values
                labels: fechas,
                // Our series array that contains series objects or in this case series data arrays
                series: [
                  valores
                ]
              };


                    new Chartist.Line('.ct-chart', data, options);







    })
})





</script>



